<!DOCTYPE html>
<html>
    <head>
        <title>Crear Post</title>
        <!-- Favicon principal -->
        <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
        <!-- Versiones para navegadores modernos -->
        <link rel="icon" type="image/png" sizes="192x192" href="{{ url_for('static', filename='favicon-192x192.png') }}">
        <link rel="icon" type="image/png" sizes="512x512" href="{{ url_for('static', filename='favicon-512x512.png') }}">
        <!-- Para iPhone/iPad -->
        <link rel="apple-touch-icon" sizes="180x180" href="{{ url_for('static', filename='apple-touch-icon.png') }}">
    </head>
<body> 
    <h1>Crear Nuevo Post</h1>

    <form action = "/guardar" method="POST">
        <label>Titulo:</label>
        <input type = "text" name = "titulo">
        <label>Contenido:</label>
        <textarea name = "contenido"></textarea>
    <button type = "submit"> Crear Post</button>
    </form>

    <a href = "/">Volver</a>

</body>
</html>