<!DOCTYPE html>
<html>
<head>
    <title>Mi Blog</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static', filename='favicon-32x32.png') }}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('static', filename='favicon-16x16.png') }}">
    <link rel="apple-touch-icon" sizes="180x180" href="{{ url_for('static', filename='apple-touch-icon.png') }}">
</head>
<body>
    <h1>Mi Blog Personal</h1>

    <a href="/crear">Crear Nuevo Post</a>

    <hr>

    {% for post in posts %}
        <h2>{{post.titulo}}</h2>
        <p>{{post.contenido}}</p>
        <a href = "/eliminar/{{post.id}}">Eliminar Post</a>
        <a href = "/editar/{{post.id}}">Editar Post</a>
        <hr>

    {% endfor %}
</body>
</html>
